<section id="portfolio" class="content-section h-screen">
  <div class="project-container">
    <h2 class="content-section-heading !text-center">Projects</h2>
    <div class="portfolio-container">
      <div class="portfolio-item">
        <div class="caption">
          <a
            href="https://github.com/TheCPMills/Noise-And-Procedural-Generation/tree/main"
          >
            <div class="caption-container">
              <div class="m-auto w">
                <h4 class="">JavaNoise API 2.0.0</h4>
                <p class="caption-content">
                  A Java library for generating randomness as well as 2D and 3D
                  noise.
                </p>
              </div>
              <img class="project-icon" src="assets/images/placeholder.svg" />
            </div>
          </a>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="caption">
          <a href="https://github.com/TheCPMills/Sight-To-Sound">
            <div class="caption-container">
              <div class="m-auto w">
                <h4>From Sight to Sound</h4>
                <p class="caption-content">
                  Converts images to musical compositions using machine
                  learning.
                </p>
              </div>
              <img class="project-icon" src="assets/images/placeholder.svg" />
            </div>
          </a>
        </div>
      </div>

      <div class="portfolio-item">
        <div class="caption">
          <a href="https://github.com/TheCPMills/Betterboxd">
            <div class="caption-container">
              <div class="m-auto">
                <h4>Betterboxd</h4>
                <p class="caption-content">
                  The ultimate narrative media tracking and recommendation
                  platform.
                </p>
              </div>
              <img class="project-icon" src="assets/images/placeholder.svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <a class="flex justify-center" href="https://github.com/TheCPMills">
      <div class="promotion">
        To see more of my projects, visit my GitHub page.
      </div>
    </a>
    <img width="100%" src="assets/images/filmstrip.png" />
  </div>
</section>
