:root {
    --g1: rgb(47, 43, 53);
    --g2: rgb(87, 53, 209);
    --menuSize: 50px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

body {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right,
            var(--g1),
            var(--g2),
            var(--g1));
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

/* body.toggled {
    animation: none;
} */

body.toggled>#title {
    opacity: 0;
}

body.toggled>#icon {
    opacity: 1;
}

body.toggled>#tiles>.tile:hover {
    opacity: 0.1 !important;
}

body.toggled>#logo {
    opacity: 0.5;
    z-index: 2;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#tiles {
    height: calc(100vh - 1px - var(--menuSize));
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    cursor: pointer;
    position: relative;
}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
}

.tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
}

#title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
}

#title>.fancy {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    line-height: 0.9em;
}

#caption {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    line-height: 0.9em;
    position: absolute;
    top: 75px;
    left: 50%;
}

#icon {
    color: rgba(255, 255, 255, 0.15);
    font-size: 80vmin;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
}

#logo {
    opacity: 0;
    transition: opacity 1200ms ease;
}

#transparent {
    opacity: 1;
    position: absolute;
    transition: opacity 1200ms ease;
    height: 75vh;
    width: 75vh;
    z-index: 0;
    top: 55%;
    left: 50%;
}

#menubar {
    opacity: 1;
    transition: opacity 1200ms ease;
    background-color: transparent;
    width: 100%;
    height: var(--menuSize);
    z-index: 1;
}

#menubar-ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: var(--menuSize);
    overflow: hidden;
    background-color: transparent;
}

#menubar-list {
    float: left;
    height: var(--menuSize);
    background-color: transparent;
}

#menubar-list a {
    display: block;
    color: white;
    height: var(--menuSize);
    font-family: "Rubik", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menubar-list a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}