<section id="about" class="content-section h-screen">
  <div class="about-container">
    <h2 class="content-section-heading !text-center">About</h2>
    <div class="about-summary">
      <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Rhoncus gravida elementum mi nisi himenaeos dolor. Erat litora ut iaculis dictum fringilla. Fringilla in senectus rutrum maecenas neque integer dolor cras commodo. Placerat ad urna penatibus aliquam eleifend nec. Curabitur proin luctus habitasse class interdum potenti potenti luctus. Dis massa rutrum, pharetra diam urna risus. Senectus augue sit justo id vitae auctor venenatis luctus.</p>
      <p>Vitae tellus tortor dictumst eget per dictum volutpat, tincidunt pellentesque. Parturient parturient nisi volutpat nec ligula. Tempus quisque scelerisque donec rutrum ante nascetur id. Nulla porta inceptos massa vehicula ipsum sollicitudin maximus. Ex dignissim nulla aptent scelerisque vestibulum ultricies penatibus. Dictum laoreet potenti odio vulputate pharetra litora sed nam. Gravida luctus ultrices parturient tellus hac in pretium magna. Vel aliquam ridiculus mauris aliquet conubia. Torquent sagittis tincidunt dictum consectetur netus duis, magnis metus.</p>
      <p>Vestibulum feugiat blandit litora nisl mus sed nostra. Nulla efficitur velit suspendisse vulputate hac. Dignissim natoque odio urna habitasse torquent maximus magna. Risus penatibus penatibus phasellus luctus consectetur magna rutrum commodo consectetur! Proin accumsan tempus ridiculus amet proin; scelerisque nisi. Tellus proin congue semper augue a aenean quam; vel massa. Ullamcorper montes finibus class cursus fusce metus quisque. Dis facilisis nunc primis adipiscing rhoncus blandit mus vehicula. Viverra malesuada augue velit est mus cras; faucibus libero consectetur.</p>
      <p>Himenaeos sollicitudin bibendum nisi in consectetur. Vitae quis lacus inceptos semper, dapibus amet. Vehicula natoque ac inceptos gravida ex ante vehicula blandit. Nascetur metus dis fusce fusce diam. Facilisis ipsum egestas potenti vehicula malesuada suscipit. Curabitur quisque aliquam non justo fames risus magna per. Aliquam congue tellus himenaeos nunc cubilia; hendrerit tincidunt placerat. Vitae natoque efficitur ut pretium vestibulum.</p>
    </div>
    <div class="links">
      <a href="https://www.instagram.com/thecpmills/">
        <img width="256px" src="assets/images/instagram.webp" />
      </a>
      <a href="https://www.linkedin.com/in/chase-miller-97b064239/">
        <img width="256px" src="assets/images/linkedin.png" />
      </a>
      <a href="https://letterboxd.com/TheCPMills/">
        <img width="256px" src="assets/images/letterboxd.svg" />
      </a>
      <a href="https://www.serializd.com/user/TheCPMills/profile">
        <img width="256px" src="assets/images/serializd.webp" />
      </a>
    </div>
  </div>
</section>