<nav id="navigation" class="navigation">
  <div class="navigation-container">
    <a class="navbar-brand" href="#top">
      <b>Chase Miller</b>
    </a>
    <div class="flex basis-auto grow items-center">
      <ul class="flex ml-auto list-none uppercase pl-0 mb-0 mt-0">
        <li>
          <a class="nav-item" href="#about">About</a>
        </li>
        <li>
          <a class="nav-item" href="#portfolio">Projects</a>
        </li>
        <li>
          <a class="nav-item" href="#content-creation">Content Creation</a>
        </li>
        <li>
          <a class="nav-item" href="assets/Chase Miller.pdf" target="blank"><b>Resume</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>